@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Karla", sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

span,
img {
  display: inline-block !important;
}

* {
  box-sizing: border-box;
}

.ant-image-preview-img {
  display: inline-block !important;
}

.navbar .ant-menu-item,
.navbar .ant-menu-submenu {
  @apply rounded-md;
}

.colorized-modal .ant-modal-close-x {
  color: white !important;
  margin-top: -1rem !important;
}

.navbar .ant-menu-item:hover,
.navbar .ant-menu-submenu:hover {
  background: rgba(0, 0, 0, 0.1) !important;
}

.navbar .ant-menu-item-selected {
  @apply bg-black rounded-md bg-opacity-[0.075];
  background: rgba(0, 0, 0, 0.1) !important;
}

.navbar .ant-menu-item-selected a,
.navbar .ant-menu-item-selected svg {
  color: #1b5e41 !important;
}

.navbar .ant-menu-submenu-title {
  line-height: 56px !important;
  height: 100% !important;
}
.navbar .ant-menu-item::after,
.navbar .ant-menu-submenu::after {
  border-bottom-width: 4px !important;
  border-bottom-color: #1b5e41 !important;
  left: 50% !important;
  right: unset !important;
  @apply max-w-[0] w-full rounded-sm bottom-0 -translate-x-[50%];
  transition: all 0.1s ease-in-out !important;
}
.navbar .ant-menu-item-selected::after,
.navbar .ant-menu-submenu.ant-menu-item-selected::after {
  border-bottom-width: 4px !important;
  left: 50% !important;
  right: unset !important;
  @apply max-w-[2rem] w-full rounded-sm bottom-0 -translate-x-[50%];
}

.ant-image {
  @apply rounded-lg overflow-hidden;
}

.fa-spin {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 2000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 2000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 2000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-transition: rotate(3600deg);
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-input-textarea.transparent textarea {
  color: white !important;
  background: rgba(255, 255, 255, 0.1) !important;    
  border-color: transparent !important;
  text-align: center !important;
}

.ant-input-textarea.transparent textarea:focus {
  border-color: rgba(255, 255, 255, 0.5) !important;
}

.ant-input-textarea.transparent textarea:focus {
  border-color: rgba(255, 255, 255, 0.5) !important;
}

.ant-input-textarea.transparent::after {
  color: white !important;
}

.ant-upload-list-item-list-type-picture .ant-upload-span {
  display: flex !important;  
}

.ant-upload-list-item-list-type-picture .ant-upload-span .ant-upload-list-item-thumbnail.ant-upload-list-item-file {
  @apply flex items-center justify-center;
}
